{% extends "layout.html" %}
{% load static from staticfiles %}
{% load course_extras %}
{% block static %}<link rel="stylesheet" href="{% static 'courses/css/courses.css' %}">{% endblock %}
{% block title %}Dillon's Minerals{% endblock %}
{% block content %}
    <div class="grid-100">
      <ul class="minerals__container">
        {% for mineral in minerals %}
            <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'courses:detail' pk=mineral.pk %}">{{ mineral.name }}</a><!-- {{ mineral.pk }}-->
          </li>      
        {% endfor %}         
      </ul>
    </div>    

{% endblock %}